*{
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


$primary-color: #C0A33E;
$text-color: #000;

// header
.header{
    &__logo{

        &--list{
            margin-top: 10px;
        }
        
        &--icon{
            font-size: 25px;
            padding-left: 10px;
            &:hover{
                cursor: pointer;
            }
        }
        &--minus{
            position: absolute;
            top: 5px;
            z-index: 10;
            display: none;
            width: 200px;
            height: 300px;
            a{
                color: $text-color;
            }
            i{
                font-size: 25px;
                padding: 15px 13px ;
                background: #f2f2f2;
                &:hover{
                cursor: pointer;
            }
            }
        }
    }

    &__main--menu{
        li a{
            &:hover{
                color: $primary-color !important;
            }
        }
    }

    &__list--icon{
        a{
            position: relative;
            &:nth-child(2){
                &::after{
                    content: "3";
                    font-size: 11px;
                    color: white;
                    background: $text-color;
                    border-radius: 100px;
                    padding: 0 5px;
                    position: absolute;
                    top: -5px;
                    right: -11px;
                }
            }

            &:nth-child(3){
                &::after{
                    content: "2";
                    font-size: 11px;
                    color: white;
                    background: $text-color;
                    border-radius: 100px;
                    padding: 0 5px;
                    position: absolute;
                    top: -5px;
                    left: 11px;
                }
            }
        }
    }
}


// intro
.intro{
    &__info{
        padding: 50px 0 50px 100px;
        font-weight: 400;
        font-size: 1.5rem;
        a{
            color: $text-color;
        }
    }
}


// products
.products{
    &__star{
        i{
            color: $primary-color;
        }
    }
    &__list{
        li{
            color: $primary-color;
        }
    }
    form{
        input:nth-child(1){
            margin-right: 30px;  
        }
        input:nth-child(2){
            margin-right: 30px;           
            background: $primary-color;
            color: #fff;
            border: none;
            padding: 3px 15px;          
        }
        button{
            background: #fff;
            border: 1px solid $primary-color;
            color: $primary-color;
            padding: 3 15px;
        }
    }
    &__details{
        a{
            margin-right: 30px;
            &:nth-child(3){
                border-bottom: 1px solid $text-color;
                padding-bottom: 10px;
            }
        }
    }
    &__reviews{
        &--star{
            color: $primary-color;
        }
        input{
            &:last-child{
                color: #fff;
                background: $primary-color;
                border: none;
                padding: 5px 25px;
            }
        }
    }

    &__item{
        &--image{
            &:hover{
                cursor: pointer;
                box-shadow: 10px 10px 10px #dddbdb;
            }
        }

        &--info{
            h6{
                font-size: 18px;
                color: $text-color;
                font-weight: 500;
            }
        }
        &--star{
            i{
                color: $primary-color;
            }
            p{
                color: #000;
                font-weight: 300;
            }
        }
    }
}



// footer
.footer{
    &__logo{
        h2{
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 40px;
        } 
    }
    &__contact{
        h2{
            margin-bottom: 40px;
        } 
    }
    &__product{
        h2{
            margin-bottom: 40px;
        } 
    }
}

